doctype html 
html
    head
    body
        input(type="password" name="inpwd" data-js=`${1 > 2 ? "ok" : "NOT OK"}`)

        - const myClasses =["class1", "class2", "class3"] 
        div.my-div(class=myClasses)

        - const myStyles = {"color": "red", "background-color": "blue"}
        div(style=myStyles)


        - const myAttributes = {"src": "myPhoto.png", "alt": "this is my photo"}
        img&attributes(myAttributes)

        input(type="text" disabled)