doctype html 
html
    head
        link(rel="stylesheet" href="style.css")
        style. 
            p{
                color: red;
                text-decoration:underline;
            }
    body(style="background-color:gray")
        - const pStyles = { "text-align" : "center", "text-transform": "uppercase" };
        p This is an HTML file
        p(style=pStyles) this is inline css
