doctype html 
html
    head
        title Case statement in pug
    body
        - const orderStatus = "In_Tranit"
        //- label(for="order") choose a order status 
        //-     select(name="order" id="orderStatus" form="order_form")
        //-         option(value="pending") PENDING
        //-         option(value="In_Transit") Traveling
        //-         option(value="Completed") Completed
        //-     input(type="submit")
        case orderStatus
            when "pending"
                p Your order has been placed and will be sent shortly. 
            when "In_Transit"
                p Your order is on the move - you should receive it soon! 
            when "Completed"
                p Your order has been completed.
            default 
                p sorry! your order status not updated yet kindly wait