doctype html 
html
    head
    body
        h1#pageTitle Page Title goes here
        p.big-para.
            here is some text for 
            my big paragraph!
        p.big-para.
            here is some more text for 
            my big paragraph!
        div.diplsy-box.

