doctype html 
html
    head
    body
        h1 Welcome to PUG
        p.
            This is a paragraph tag
            and this is multiline
        ul
            li this is an item 
            li this is an box 
            li this is an apple