doctype html 
html
    head
    body
        h1 For/Each Loop

        -const grades = {"web Dev": 85,"UI": 76};

        each n, i  in grades 
            p=i +"-"+ n
        else 
            strong "NO VALLUES ARE HERE"